.popup__save-button {
  background-color: #000;
  color: #fff;
  padding: 0;
  margin: 13px auto 36px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  min-width: 358px;
  min-height: 50px;
  cursor: pointer;
  transition: opacity 0.3 ease;
  border-radius: 2px;
  border: none;
  outline: none;
}

@media screen and (max-width: 580px) {
  .popup__save-button {
    font-size: 14px;
    line-height: 17px;
    min-width: 238px;
    min-height: 46px;
  }
}

.popup__save-button:hover {
  opacity: 0.8;
}
