.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  padding: 0;
  margin: 0;
  color: #545454;
}

@media screen and (max-width: 879px) {
  .footer__copyright {
    margin-left: 19px;
  }
}

@media screen and (max-width: 580px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}
