.authorization__input {
    color: #fff;
    background-color: #000;
    min-width: 358px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-bottom: 2px solid #CCCCCC;
    margin:  30px auto 0;
    outline: none;
    padding: 0 0 13px;
  }
  