.popup__input {
  min-width: 358px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin:  0 auto;
  outline: none;
  padding: 5px 0 5px;
}

@media screen and (max-width: 580px) {
  .popup__input {
    font-size: 14px;
    line-height: 17px;
    min-width: 238px;
  }
}
